  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #010400;
  }

  h1 {
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  h4 {
    font-size: 16px;
    color: #7C7C7C;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
    margin: 0px;
    padding: 0px;
  }

  label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
  }

  a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }

  button {
    background-color: #5936CD;
    height: 56px;
    width: 432px;
    border-radius: 12px;
    color: #F4F4F9;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #5936CD;
    cursor: pointer;
  }

  button.small {
    background-color: #F4F4F9;
    color: #010400;
    font-size: 14px;
    border-radius: 8px;
    width: 90px;
    height: 36px;
  }

  input, select {
    background-color: #F4F4F9;
    width: 100%;
    height: 48px;
    border: 2px solid #06bee1;
    border-radius: 8px;
    color: #010400;
    font-size: 16px;
    padding: 6px;
    box-sizing: border-box;
  }

  .full-width {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .mt {
    margin-top: 16px;
  }

  .mt.smaller {
    margin-top: 6px;
  }

  .mt.small {
    margin-top: 12px;
  }

  .mt.large {
    margin-top: 24px;
  }

  .mt.larger {
    margin-top: 32px;
  }

  .logo {
    height: auto;
    width: 88px;
  }

  .auth-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5936CD;
  }

  .auth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: auto;
    min-height: 440px;
    border-radius: 24px;
    background-color: #F4F4F9;
  }

  .auth-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px;
  }